package components

templ Main() {
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
		<div class="lg:col-span-2 space-y-6">
			@IncomeSection()
			@ExpenseSection()
		</div>
		<div class="space-y-6">
			@SummaryStats()
		</div>
	</div>
}
